.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

form {
  margin: 50px auto;
}

.card-wrapper {
  position: relative;
}

.content {
  text-align: left;
}

.description {
  margin-top: -15px;
  margin-bottom: 15px;
}

.icon {
  cursor: pointer;
  position: absolute;
  top: 8%;
  right: 0;
  transform: translate(0,-50%);
}

.card-header {
  font-size: 20px;
}



